@font-face {
    font-family: 'Maven Pro';
    src: url("../assets/fonts/Maven_Pro/MavenPro-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Maven Pro';
    src: url("../assets/fonts/Maven_Pro/MavenPro-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Maven Pro';
    src: url("../assets/fonts/Maven_Pro/MavenPro-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Maven Pro';
    src: url("../assets/fonts/Maven_Pro/MavenPro-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Maven Pro';
    src: url("../assets/fonts/Maven_Pro/MavenPro-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: 'Maven Pro';
    src: url("../assets/fonts/Maven_Pro/MavenPro-Black.ttf") format("truetype");
    font-weight: 900;
}

:root {
    --fsm-fw-regular: 400;
    --fsm-fw-medium: 500;
    --fsm-fw-semibold: 600;
    --fsm-fw-bold: 700;
    --fsm-fw-extrabold: 800;
    --fsm-fw-black: 900;

    --fsm-dark-shadow-color: rgba(14, 24, 34, 0.25);
    --fsm-pink-shadow-color: rgba(255, 70, 85, 0.1);
    --fsm-grey-font-color: rgba(226, 226, 226, 0.5);
    --fsm-white-shadow-color: rgba(226, 226, 226, 0.5);
    --fsm-pink-2-shadow-color: rgba(255, 58, 77, 0.5);

    --fsm-white: #E4E4E4;
    --fsm-pink-1: #FF3A4D;
    --fsm-pink-2: #FF264A;
    --fsm-dark-blue-1: #343F57;
    --fsm-dark-blue-2: #2B3448;
    --fsm-dark-blue-3: #252D3E;
    --fsm-dark-blue-4: #1C222F;
    --fsm-dark-blue-5: #161B25;
    --fsm-light-blue: #46AEFF;
    --fsm-light-green: #46FF54;
    --fsm-light-yellow: #FFED46;

    --fsm-filter-white: invert(98%) sepia(0%) saturate(0%) hue-rotate(218deg) brightness(93%) contrast(93%);

    --fsm-max-border-radius: 90px;
    --fsm-l-border-radius: 25px;
    --fsm-m-border-radius: 10px;
    --fsm-s-border-radius: 5px;
}

* {
    color: var(--fsm-white);
    font-family: 'Maven Pro', sans-serif;
    font-weight: var(--fsm-fw-medium);

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
}

body {
    margin: 0;
    background-position: center;
    background-size: cover;
}

[data-title]:hover:after {
    opacity: 1;
    transition: ease 0.2s;
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: var(--fsm-dark-blue-2);
    color: var(--fsm-white);
    font-weight: var(--fsm-fw-regular);
    position: absolute;
    padding: 5px;
    top: -110%;
    white-space: nowrap;
    opacity: 0;
    border-radius: var(--fsm-s-border-radius);
    z-index: 99999;
    visibility: hidden;
}

[data-title] {
    position: relative;
}

input[type='range'] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: var(--fsm-dark-blue-4);
    margin: 0;
    border-radius: var(--fsm-max-border-radius);
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    cursor: default;
    background: var(--fsm-pink-1);
    box-shadow: -9999px 0 0 9994px var(--fsm-pink-1);
    border-radius: var(--fsm-max-border-radius);
}

::-webkit-scrollbar {
    width: 10px;
    height: auto;
}

::-webkit-scrollbar-track {
    background: var(--fsm-dark-blue-4);
    border-radius: var(--fsm-max-border-radius);
}

::-webkit-scrollbar-thumb {
    background-color: var(--fsm-pink-1);
    background-image: linear-gradient(var(--fsm-pink-1), var(--fsm-pink-2));
    border-radius: var(--fsm-max-border-radius);
}

.verticalScroll {
    overflow-y: scroll;
    padding-right: 10px;
    box-sizing: border-box;
}

.horizontalScroll {
    overflow-x: scroll;
    padding-bottom: 10px;
    box-sizing: border-box;
}

.horizontalScroll::-webkit-scrollbar {
    width: auto;
    height: 10px;
}

select {
    appearance: none;
    background-color: var(--fsm-dark-blue-4);
    background-image: url("data:image/svg+xml;utf8,%3Csvg%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2048%2048%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20fill%3D%22%23E4E4E4%22%20d%3D%22m%2045.2%2C15.4%20-4%2C-4%20L%2024%2C28.5%206.9%2C11.4%202.8%2C15.4%2024%2C36.6%20Z%22%20%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 50%;
    background-size: 13px;
    background-origin: content-box;
    border: none;
    border-radius: var(--fsm-s-border-radius);
    padding: 0 15px 0 15px;
    margin: 0;
    width: 100%;
    font-family: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    font-size: 16px;
    font-weight: var(--fsm-fw-regular);
    height: 30px;
    box-sizing: border-box;
}

button {
    color: black;
}